.search-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-input {
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: none;
  width: 300px;
}

.suggestions-wrapper {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.error-wrapper {
  font-size: 16px;
  text-align: center;
  padding: 30px;
  font-weight: 600;
}

.search-input__icon-cross {
  color:  #cccccc;
  padding: 0px 10px;
  cursor: pointer;
}

.search-input__icon-search {
  color:  #cccccc;
  padding: 0px 10px;
}

.input-wrapper {
  border-bottom: 1px solid  #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10 15px;
}

input {
  caret-color: #11ce66;
 }